
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

}

.projects .grid{
    position: relative;
    background-color:  #45454a;
    padding: 1em;
    width: 100%;
}

.grid .body{
    margin-top: 2em;
}

.grid .body h5{
    color: #58d8d8;
    font-weight: bold;
}

.projects .grid img{
  width: 100%;
  height: auto;
}

.url{
  position: absolute;
  top: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .6s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.url a{
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #046464;
    padding: 10px 20px;
}

.url a:hover{
    background-color: #099393;
}

.live{
    margin-left: 2em;
}

.grid:hover .url {
  opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    
}

/*Responsivo - Smartphone*/
@media only screen and (max-width: 767px) {
   .url{
    opacity: 1;
   }
   .url a{
    padding: 8px 8px;
    font-size: 0.999em;
}

}


