.Skills {
    display: flex;
    margin: 100px 0;
}

.stack {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    margin-left: 50px;
}

.stack-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 20px;
}

.Skills .subtitle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skills .subtitle h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}

/*Responsividade Smartphone*/
@media only screen and (max-width: 767px) {
    .Skills {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .stack {
        width: 100%;
    }

    .Skills .subtitle {
        width: 100%;
    }

    .wrapper {
        justify-content: center;
        margin-left: 0px;
    }

    .Skills .subtitle h2 {
        font-size: 1.456em;
    }
}

/*Responsivo - Tablet*/

@media only screen and (min-width: 767px) and (max-width: 959px) {
    .wrapper {
        margin-left: 0px;
    }
}