.skills{
    display: flex;
    margin: 100px 0;
}

.stack{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 520px;
}

.stack-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 20px;
}

.subtitle{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}

