.Skills{
    padding: 100px 0px;
}

.skill-wrapper{
    max-width: 900px;
    margin: 0 auto;
}

.stack{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.stack-item{
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack-item img{
    width: 100px;
    pointer-events: none;
}

    @media only screen and (min-width: 768px) and (max-width: 959px) {
    
    }
    
    /*Responsivo - Smartphone*/
    @media only screen and (max-width: 767px) {
        .Skills{
            padding: 0 20px;
            margin-bottom: 50px;
        }
    }


