.About{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
}

.about-content{
    display: flex;

}

.about-content{
    display: flex;

}

.about-content .info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-content .left-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content .left-image img{
    width: 30vw;
    height: 70vh;
    object-fit: cover;
}

.About .info p{
    font-size: 1.0625em;
    line-height: 27.5px;
}