.Home{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Home h2,h3{
    font-size: 3em;
    font-weight:bold
}
.Home h1{
    margin: 0px 0px 30px 4px;
    color: #58d8d8;
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
    font-weight: 400;
}

.Home .about-me{
    max-width: 500px;
}
.Home .about-me p{
    font-size: 1.0625em;
    line-height: 25.5px;
    margin: 20px 0px 0px;
}

.Home .resume{
    margin-top: 50px;
}

.resume a {
    background-color: transparent;
    border: 1px solid #58d8d8
}

.resume a:hover {
    background-color:#2f6b6b 
}

/*Responsivo - Tablet*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    
}

/*Responsivo - Smartphone*/
@media only screen and (max-width: 767px) {
    .Home h2,h3{
        font-size: 2em;
    }
}