.contact {
    padding: 100px 0px;
    color: #8f8f8f;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 420px;
    margin: 0 auto;
}

.contact form input,
textarea,
button {
    margin-bottom: 0.625em;
    padding: 14px;
    background-color: #45454a;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}


.contact button {
    background-color: #046464;
    font-weight: bold;
    font-size: 1.125em;
    letter-spacing: 0.123em;
    margin-top: 10px;
    transition: all 0.3s;
}

.contact button:hover {
    background-color: #099393;
}

.contact textarea {
    resize: none;
}

.contact .social-links {
    margin-top: 30px;
    text-align: center;
}

.contact .social-links .icon {
    margin-left: 20px;
    font-size: 32px;
    color: #8f8f8f;
    transition: all 0.3s;
}

.contact .social-links .icon:hover {
    color: #e6d8d8;
}

/*Responsividade Smartphone*/
@media only screen and (max-width: 767px) {
    .contact {
        flex-direction: column-reverse;
    }

    .form {
        width: 100%;
    }

    .contact .subtitle {
        width: 100%;
    }

    .contact {
        padding: 20px;
    }

    .contact form {
        width: 100%;
    }

    .contact .subtitle h2 {
        font-size: 1.456em;
    }
}

/*Responsivo - Tablet*/

@media only screen and (min-width: 767px) and (max-width: 959px) {
    .contact form {
        width: 100%;
    } 
}

@media only screen and (max-width: 767px) {
    .contact {
        padding: 70px 0px;
        color: #8f8f8f;
    }

}