
.btn-download{
    background-color: #234899;
    font-weight: bold;
     text-decoration: none;
     padding: 10px 30px;
     border-radius: 5px;
     color: #fff;
     transition: all 0.3s;
     text-align: center;
 }

 .btn-download:hover{
    color: #fff;
    background-color:#2f6b6b 
 }
 .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #fff
}

.sub-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: bold;
}

.container{
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
}
